.contacts {
  background-color: rgb(243, 123, 87);
  height: 100vh;
  display: flex;
  justify-content: center;
}

.container {
  width: 80%;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top:20px;
  margin-bottom: 20px;
}
.contactsForm{
  width: 60%;
}

.inp {
  display: block;
  width: 100%;
  height: 40px;
}
.contactsMess {
  display: block;
  width: 100%;
  height: 200px;
}

@media (max-width: 1000px) {
  .contactsForm {
    width: 90%;
  }
}


