.skills {
  background-color: #f4f75b;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.container {
  width: 80%;
  border: 1px solid;
}

.title {
  height: 180px;
  border: 1px solid;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.skills_list {
  border: 1px solid;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media (max-width: 700px) {
  .skills_list {
    justify-content: center;
  }
}


